body{
    background: linear-gradient(10deg, rgb(10 10 10), rgb(50 50 50));
    color: white;
}

#viewport2{
    width: 500px; 
    height: 300px;
    border: 5px; 
    border-color: blue; 
    border-style: groove;
    position: absolute;
}

#viewport{
    position: absolute;
    left: 66%;
    width: 500px; 
    height: 300px;
    border: 5px; 
    border-color: blue; 
    border-style: groove;
}

.meme{
    width: 270px;
    height: 225px;
    border: 5px;
    border-color: gold; 
    border-style: groove;
}

ul{
    display: block;
    float: none;
    padding: 10px;
    padding-left: 30px;
    border-color: silver;
    border-style: groove;
    position: absolute;
    left: 45%;
    top: 20%;
    height: auto;
    width: auto;
}

a{
    color: gold;
}

#meme{
    width: 150px;
    height: 150px;
}

#showcase{
    display: flex;
    justify-content: center;
}

#description{
    display: flex;
    justify-content: center;
}

#menu{
    width: 192px;
    height: 20px;
    padding: 10px;
    padding-left: 0px;
    border: 5px;
    position: relative;
    left: -5%;
    top: 0%;
    margin: 10px;
}

h1{
    position: absolute;
    left: 40%;
    top: 14%;
}

#menuBorder{
    display: block;
    float: none;
    padding: 10px;
    border-color: silver;
    border-style: groove;
    position: absolute;
    left: 42.8%;
    top: 28%;
    height: 81px;
    width: 190px;
}

nav{
        margin: auto;
        border: 5px;
        border-color: blue; 
        position: relative;     
 }


#memes{
    top: 50%;
    left: 4%;
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    position: absolute;
    margin: auto;
}

h2 {
    position: absolute;
    left: 43.5%;
    top: 62%;
}

.input{
    width: 191px;
}

form{
    position: relative;
    border: 5px;
    border-color: gold;
    border-style: groove;
    margin: 20px;
    padding: 10px;
}



#form_Background{
    width: auto;
    height: auto;
    position: absolute;
    left: 41%;
    top: 25%;
    background-color: rgb(90 90 90);
    border: 5px;
    border-style: groove;
    border-color: blue;
    border-radius: 10px;
}

#formSubmit{
    margin: 10px;
    border: 10px;
    display: inline-block;
}

#submit{
   float: none;
}


#addBtn, #clearBtn, #clearInputs{
    color: gold; 
    background-color: black;
    margin: 1px;
}

#back{
    color: gold;
    background-color: black;
    padding: 1px;
    border: 2px;
    border-color: silver;
    border-style: outset;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13.3333px;
}

#login{
    float: none;
 }

 .hidden{
    display: none;
 }

 #formErrors{
    color: red;
    position: absolute;
    top: 63%;
    left: 39%;
 }