#meme{
    width: 150px;
    height: 150px;
}

#showcase{
    display: flex;
    justify-content: center;
}

#description{
    display: flex;
    justify-content: center;
}

/* #content{
    
} */

/* #examples{

} */

#menu{
    float: left;
    width: 200px;
    height: 200px;
    border: 5px; 
    border-color: silver; 
    border-style: groove; 
 }

 nav{
    margin: auto;
    border: 5px;
    border-color: blue;
 }


 #memes{
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 1600px;
    position: absolute;
    margin: auto;
 }
h2{
    top: 320px; 

}

.meme{
    width: 180px;
    height: 150px;
    border: 5px;
    border-color: gold; 
    border-style: groove;
}
 /* #viewport{
    display: flex;
    float: right;
    position: absolute;
 } */

